body {
    margin: 0vw;
}

* {
    font-family: "Inter Tight";
}

a {
    text-decoration: none;
}

/* section 1 */

.section-1 .wrapper {
    display: flex;
    height: fit-content;
    padding-top: 7.222vw;
    padding-left: 9.375vw;
    padding-right: 7.847vw;
    padding-bottom: 6.944vw;
    justify-content: space-between;
}

.section-1 .wrapper .heading {
    width: 31.9vw;
}

.section-1 .wrapper .description {
    width: 31.528vw;
}

.section-1 .wrapper .heading h1 {
    color: #2E2B26;
    letter-spacing: -0.8px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 2.778vw;
}

.section-1 .wrapper .description p {
    font-size: 1.25vw;
    color: #2E2B26;
    font-weight: 400;
    line-height: 1.44;
}

.section-1 .wrapper .description p:first-child {
    margin-top: 0vw;
}

.section-1 .wrapper .description p:last-child {
    margin-bottom: 0vw;
}

/* section 2 */

.section-2 {
    height: fit-content;
    margin-inline: 30.694vw;
    margin-block: 5vw;
}

.section-2 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* reset all margin (dont want it to fk with me) */
.section-2 .wrapper * {
    margin: 0vw;
}

.section-2 .wrapper .tagline {
    margin-bottom: 1.389vw;
    color: #8298AB;
    font-size: 0.903vw;
    font-weight: 500;
    line-height: 1.53
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-2 .wrapper .heading {
    margin-bottom: 1.736vw;
    color: #304659;
    text-align: center;
    font-size: 2.431vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14
}

.section-2 .wrapper .description {
    color: #3B5266;
    text-align: center;
    font-size: 1.181vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.47
}

/* section 3 */

.section-3 {
    margin-bottom: 3vw;
}

.section-3 .wrapper {
    margin-block: 6.944vw;
    margin-inline: 6.25vw;
}

.section-3 .wrapper .heading {
    margin-bottom: 4.722vw;
}

.section-3 .wrapper .heading {
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2
    letter-spacing: -0.8px;
}

.section-3 .wrapper .content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4.444vw;
}

.section-3 .content-grid .grid-individual * {
    margin: 0vw;
}

.section-3 .content-grid .grid-individual {
    width: 28.681vw;
    height: 11.667vw;
}

.section-3 .content-grid .grid-individual img {
    width: 4.167vw;
    height: 4.167vw;
    margin-bottom: 1.389vw;
}

.section-3 .content-grid .grid-individual .grid-title {
    margin-bottom: 0.556vw;
    font-size: 1.389vw;
    font-weight: 700;
    line-height: 1.4
    letter-spacing: -0.28px;
}

.section-3 .content-grid .grid-individual .grid-description {
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5
}

.section-4 .title-section {
    margin-left: 9.722vw;
    margin-right: 13.681vw;
    margin-bottom: 8.472vw;
    display: flex;
    justify-content: space-between;
}

.section-4 .title-section h2 {
    width: 31.944vw;
    color: #2E2B26;
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.section-4 .title-section p {
    width: 31.944vw;
    color: #2E2B26;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.44;
}

.section-4 .data-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.111vw;
    margin-inline: 5.833vw;
    margin-bottom: 14.167vw;
}

.section-4 .data-section div {
    border-top: solid;
    width: 21.25vw;
}

.section-4 .data-section h2 {
    margin-top: 1.25vw;
    margin-bottom: 1.111vw;
    color: #2E2B26;
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.section-4 .data-section p {
    color: #848484;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5;
}

/* section 5 */

.section-5 .top-nav {
    display: flex;
    justify-content: space-between;
    height: 8.125vw;
    padding-inline: 5.833vw;
    align-items: center;
}

.section-5 .right {
    display: flex;
    align-items: center;
    column-gap: 2.292vw;
}

.section-5 .right select,
.section-5 .right a {
    color: #000;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.section-5 .right select {
    outline: none;
    border: 0vw;
    background-color: unset;
}

.section-5 .get-started-button,
.section-5 .login-button {
    padding-inline: 1.667vw;
    padding-block: 1.667vw;
    border-radius: 2.083vw;
}

.section-5 .login-button {
    border: 0.069vw solid #D2D2D2;
}

.section-5 .get-started-button {
    background-color: black;
    color: white !important;
}

.section-5 .wrapper {
    position: relative;
    height: 54.514vw;
    background-color: #A8A8A8;
}

.section-5 .wrapper img {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 23.507vw;
    height: 7.5vw;
}

.section-5 .content-wrapper {
    margin-top: 16.215vw;
    margin-left: 5.833vw;
    position: absolute;
}

.section-5 .content-wrapper h2 {
    width: 39.861vw;
    margin-bottom: 1.111vw;
    margin-top: 0vw;
    color: white;
    font-size: 3.889vw;
    font-weight: 700;
    line-height: 1.17;
}

.section-5 .content-wrapper p {
    width: 39.861vw;
    color: white;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.66;
}

.section-5 .buttons-wrapper {
    display: flex;
    gap: 1.597vw;
}

.section-5 .buttons-wrapper a {
    margin-top: 3.056vw;
    padding-inline: 2.5vw;
    padding-block: 1.667vw;
    border-radius: 2.538vw;
    border: 0.069vw solid white;
    color: white;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.section-5 .buttons-wrapper a:first-child {
    background-color: white;
    color:#5D5A88;
}

/* section 6 */

.section-6 .top-nav {
    display: flex;
    justify-content: space-between;
    height: 5.556vw;
    padding-inline: 5.833vw;
    align-items: center;
    border-bottom: solid #D6D6D6;
}

.section-6 .top-nav .left h2 {
    color: #2E2B26;
    font-size: 1.389vw;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.28px;
}

.section-6 .top-nav .right {
    display: flex;
    align-items: center;
    column-gap: 2.292vw;
}

.section-6 .top-nav .right a {
    color: #2E2B26;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5;
}

.section-6 .wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10.069vw;
    height: 27.847vw;
}

.section-6 .title h1 {
    margin-top: 0vw;
    color: #2E2B26;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -1.44px;
}

.section-6 .title {
    width: 45.833vw;
}

.section-6 .description p {
    color: #2E2B26;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.667vw;
}

.section-6 .description {
    width: 25vw;
}

.section-6 .description a {
    color: #2E2B26;
    font-size: 0.972vw;
    font-weight: 400;
    line-height: 1.42;
    padding-inline: 3.472vw;
    padding-block: 0.694vw;
    border: solid #D6D6D6;
}

/* section 7 */

.section-7 {
    position: relative;
    height: 58.056vw;
}

.section-7 .bg {
    position: absolute;
    width: 100vw;
    height: 58.056vw;
    top: 0;
    right: 0;
    z-index: -100;
}

.section-7 .bg * {
    width: 100vw;
}

.section-7 .top-nav {
    padding-block: 2.778vw;
    display: flex;
    gap: 2.222vw;
    justify-content: center;
}

.section-7 .top-nav a {
    color: #2E2B26;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5;
}

.section-7 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-7 .wrapper .story-teller {
    margin-top: 10.972vw;
    margin-bottom: 0vw;
    color: #2E2B26;
    font-size: 1.389vw;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.28px;
}

.section-7 .wrapper .title {
    margin-top: 1.25vw;
    margin-bottom: 3.333vw;
    color: #2E2B26;
    font-size: 3.75vw;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -1.08px;
}

.section-7 .search-section {
    display: flex;
    align-items: center;
    gap: 1.111vw;
    height: 3.333vw;
}

.section-7 .search-section input {
    height: 100%;
    width: 26.806vw;
}

.section-7 .search-section a {
    display: flex;
    align-items: center;
    padding-inline: 4.167vw;
    height: 100%;
    border: 1px solid #C3C2C1;
    background: #F0F0F0;
}

/* section 8 */

.section-8 .top-nav {
    display: flex;
    justify-content: space-between;
    height: 8.125vw;
    padding-inline: 5.833vw;
    align-items: center;
}

.section-8 .right {
    display: flex;
    align-items: center;
    column-gap: 2.292vw;
}

.section-8 .right select,
.section-8 .right a {
    color: #000;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.section-8 .right select {
    outline: none;
    border: 0vw;
    background-color: unset;
}

.section-8 .get-started-button,
.section-8 .login-button {
    padding-inline: 1.667vw;
    padding-block: 1.667vw;
    border-radius: 2.083vw;
}

.section-8 .login-button {
    border: 0.069vw solid #D2D2D2;
}

.section-8 .get-started-button {
    background-color: black;
    color: white !important;
}

.section-8 .wrapper {
    height: 54.514vw;
    display: flex;
}

.section-8 .wrapper .image-wrapper {
    background-color: #A8A8A8;
    height: 100%;
    width: 100%;
    display: flex
;
    justify-content: center;
}

.section-8 .wrapper img {
    height: 7.5vw;
    align-self: center;
}

.section-8 .content-wrapper {
    padding-top: 16.215vw;
    padding-left: 5.833vw;
    width: 100%;
}

.section-8 .content-wrapper h2 {
    width: 39.861vw;
    margin-bottom: 1.111vw;
    margin-top: 0vw;
    color: black;
    font-size: 3.889vw;
    font-weight: 700;
    line-height: 1.17;
}

.section-8 .content-wrapper p {
    width: 39.861vw;
    color: #A8A8A8;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.66;
}

.section-8 .buttons-wrapper {
    display: flex;
    gap: 1.597vw;
}

.section-8 .buttons-wrapper a {
    margin-top: 3.056vw;
    padding-inline: 2.5vw;
    padding-block: 1.667vw;
    border-radius: 2.538vw;
    border: solid #D6D6D6;
    color: black;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.section-8 .buttons-wrapper a:first-child {
    background-color: black;
    color: white;
}

.testimonial-1-section {
    padding-inline: 18vw;
    padding-block: 8.056vw;
}

.testimonial-1-section h2 {
    margin: 0;
}

.testimonial-1-section .description {
    margin-bottom: 1.389vw;
}

.testimonial-1-section .wrapper {
    padding-inline: 4.167vw;
}

.testimonial-1-section .testimonial-wrapper {
    color: #2E2B26;
    font-family: "Inter Tight";
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
    width: unset !important;
}

.testimonial-1-section .name {
    color: #2E2B26;
    font-family: "Inter Tight";
    font-size: 1.389vw;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.28px;
}

.professional-status {
    color: #848484;
    font-family: "Inter Tight";
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 0.5vw;
}

.profile-wrapper {
    display: flex;
    align-items: flex-end;
    margin-block: 0.7vw;
}

.name-wrapper p {
    margin: 0;
}

.profile-wrapper img {
    width: 4.444vw;
    height: 4.444vw;
    margin-right: 1.736vw;
}

.slick-prev,
.slick-next {
    margin-inline: -7vw;
}

.slick-next {
    right: -7px !important;
}

.arrow-right {
  transform: rotate(180deg);
}

.testimonial-2-section {
    padding-block: 6.944vw;
    padding-inline: 5.556vw;
}

.testimonial-2-section .testimonial-wrapper {
    width: 28.681vw !important;
    border: 0.1vw solid #D6D6D6;
    padding: 2.083vw;
    box-sizing: border-box;
}

.testimonial-2-section .profile-wrapper {
    margin: 0;
    flex-direction: column;
    width: fit-content;
}

.testimonial-2-section .profile-wrapper img {
    align-self: flex-start;
    margin-bottom: 1.736vw;
}


.testimonial-2-section .testimonial p {
    margin-bottom: 0;
    margin-top: 1.736vw;
}

.services .title {
    margin: 0;
    color: #111113;
    text-align: center;
    font-family: "Inter Tight";
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 1.27;
}

.services .grid > .title {
    font-size: 1.944vw;
    margin-top: 1.736vw;
}

.services .description {
    color: #6F6F77;
    text-align: center;
    font-family: "Inter Tight";
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.6;
}

.services .wrapper > .description {
    width: 42.708vw;
}

.services .grid > .description {
    margin: 0;
    margin-top: 0.556vw;
}

.services .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 5.833vw;
    padding-block: 10.417vw;
}

.services .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.042vw;
    row-gap: 2.083vw;
    margin-top: 3.472vw;
}

.services .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1vw solid #D4D2E3;
    border-radius: 1.736vw;
    padding: 2.778vw;
}

.services .grid .image-wrapper {
    background: #E2E2E4;
    padding: 1.389vw;
    border-radius: 1.389vw;
}

.services .grid .image-wrapper img {
    width: 2.431vw;
}

.services-2-section .grid {
    padding-block: 4.167vw;
}

.services-2-section .grid img {
    width: 5.903vw !important;
}

.services-2-section .grid a {
    margin-top: 3.472vw;
    padding-block: 1.736vw;
    width: 23.958vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2.778vw;
    border: 0.1vw solid #5D5A88;
}

.services-2-section .grid .image-wrapper {
    padding: 3.472vw;
    border-radius: 100%;
}

.services-3-section .wrapper {
    padding-inline: 6vw;
}

.services-3-section .services-3-slider {
    width: 100%;
}

.services-3-section .grid {
    border-radius: 0.694vw;
    padding: 0;
    overflow: hidden;
    margin: 0.625vw;
}

.services-3-section .grid .image-wrapper img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 6.389vw;
}

.services-3-section .grid .image-wrapper {
    border-radius: unset;
    width: 100%;
    height: 17.708vw;
    position: relative;
}

.services-3-section .grid .title {
    font-size: 1.389vw;
    align-self: flex-start;
    margin-block: 2.431vw;
    margin-left: 1.736vw;
}

.services-3-section .slick-prev,
.services-3-section .slick-next {
    margin-inline: -2vw;
}

.dark-font {
    color: #000;
    font-family: "Inter Tight";
    font-size: 4.167vw;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px;
}

.light-font {
    color: #848484;
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.blog .wrapper {
    padding-inline: 5.903vw;
    padding-block: 6.944vw;
}

.blog-1-section h2 {
    margin-bottom: 3.889vw;
    letter-spacing: 0.2px;
}

.blog-1-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.472vw;
    column-gap: 1.042vw;
}

.blog-1-section .grid {
    width: 28.472vw;
}

.blog .grid img {
    width: 100%;
}

.blog .grid .title {
    font-size: 1.25vw;
    letter-spacing: 0.2px;
    line-height: 1.3;
}

.blog-2-section h2 {
    font-size: 2.778vw;
    letter-spacing: 0.2px;
}

.blog-2-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #D6D6D6;
    gap: 0.1vw;
}

.blog-2-section .grid {
    display: flex;
    flex-direction: column;
    row-gap: 8.333vw;
    width: 26.944vw;
    background-color: white;
    width: 100%;
    padding: 1.389vw;
    box-sizing: border-box;
}

.blog-2-section .date {
    align-self: flex-end;
}

.faq .wrapper {
    display: flex;
}

.faq-1-section .title {
    font-size: 2.778vw;
    letter-spacing: -0.8px;
    margin-bottom: 4.861vw;
}

.faq-1-section .wrapper {
    flex-direction: column;
    padding-inline: 26vw;
    padding-block: 6.944vw;
}

.faq .drop-down {
    position: relative;
    border-block: 0.069vw solid #D2D2D2;
}

.faq .drop-down h2 {
    padding-block: 1.736vw;
    margin: 0;
}

.faq .drop-down img {
    position: absolute;
    right: 0;
    top: 0vw;
    padding-block: 1.736vw;
    transition: transform 0.3s;
}

.faq-2-section .drop-down-wrapper {
    width: 43vw;
}

.faq-2-section .wrapper > h2 {
    width: 31.944vw;
    margin: 0;
    font-size: 2.778vw;
}

.faq-2-section .wrapper {
    padding-inline: 5.903vw;
    padding-block: 6.944vw;
    column-gap: 12.847vw;
}

.points .wrapper {
    padding-inline: 5.903vw;
    padding-block: 8.681vw;
}

.answer {
    height: 0;
    overflow-y: hidden;
    transition: height 0.3s;
    margin: 0;
}

.active {
    height: 7vw;
}

.flip {
  transform: rotate(180deg);
}

.points-1-section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-1-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.389vw;
}

.points-1-section .grid {
    padding: 1.667vw;
    border: 0.069vw solid #C3C2C1;
}

.points-1-section .grid img {
    width: 4.167vw;
}

.points-4-section .description {
    font-size: 1.111vw;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: unset;
}

.points-5-section .wrapper {
    padding: 5.903vw;
}

.points-5-section > .h2 {
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.points-5-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.points-5-section .grid {
    width: 28.472vw;
    border: 0.069vw solid #C3C2C1;
}

.points-5-section .grid a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    border: 1px solid #C3C2C1;
    background: #F0F0F0;
    padding-block: 0.694vw;
    font-size: 0.972vw;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: unset;
}

.points-5-section .grid .content {
    padding: 2.222vw;
}

.points-5-section .grid img {
    width: 100%;
}

.points-5-section .grid .title {
    font-size: 1.389vw;
    letter-spacing: -0.28px;
    margin-top: 0;
}

.points-5-section .grid .description {
    font-size: 1.111vw;
    font-weight: 400;
    letter-spacing: unset;
}

.about-2-section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 6.944vw;
}

.about-2-section .wrapper > h2 {
    margin-top: 0;
    margin-bottom: 5vw;
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.about-2-section .grid-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 9.722vw;
    box-sizing: border-box;
    width: 100%;
}

.about-3-section .wrapper {
    display: flex;
    padding: 6.944vw;
    justify-content: space-between;
}

.about-3-section .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8.333vw;
}


.about-3-section .content-wrapper h2,
.about-3-section .content-wrapper p {
    margin-block: 1.389vw;
}

.about-3-section .body-section {
    width: 30.903vw;
}

.about-3-section .body-section > h2 {
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.about-3-section .body-section > p {
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: unset;
}

.about-3-section .image-wrapper img {
    width: 38.194vw;
    height: 100%;
}

.about-3-section .statistics-section {
    display: flex;
    width: 36.458vw;
    justify-content: space-between;
}

.footer-1 .wrapper {
    display: flex;
    height: 11.25vw;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5.833vw;
}

.footer-1 .links {
    display: flex;
    align-items: center;
    gap: 3.125vw;
}

.footer-1 .nav-links {
    display: flex;
    gap: 0.556vw;
}

.footer-1 .nav-links a,
.footer-2 a,
.footer-2 .copyright p {
    color: #848484;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.footer-1 .socials,
.footer-2 .socials {
    display: flex;
    align-items: center;
    gap: 1.389vw;
}

.footer-1 .socials img,
.footer-2 .socials img {
    width: 2.5vw;
}


.footer-2 * {
    text-align: center;
}

.footer-2 .links {
    display: flex;
    gap: 20.347vw;
    padding-bottom: 6.25vw;
}

.footer-2 .links .flex {
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
}

.footer-2 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4.861vw;
}

.footer-2 h3 {
    font-family: "Inter Tight";
    font-size: 1.389vw;
    font-weight: 700;
    line-height: 1;
}
