body {
    margin: 0vw;
}

* {
    font-family: "Inter Tight";
}

a {
    text-decoration: none;
}

/* section 1 */

.section-1 .wrapper {
    display: flex;
    height: fit-content;
    padding-top: 7.222vw;
    padding-left: 9.375vw;
    padding-right: 7.847vw;
    padding-bottom: 6.944vw;
    justify-content: space-between;
}

.section-1 .wrapper .heading {
    width: 31.9vw;
}

.section-1 .wrapper .description {
    width: 31.528vw;
}

.section-1 .wrapper .heading h1 {
    color: #2E2B26;
    letter-spacing: -0.8px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 2.778vw;
}

.section-1 .wrapper .description p {
    font-size: 1.25vw;
    color: #2E2B26;
    font-weight: 400;
    line-height: 1.44;
}

.section-1 .wrapper .description p:first-child {
    margin-top: 0vw;
}

.section-1 .wrapper .description p:last-child {
    margin-bottom: 0vw;
}

/* section 2 */

.section-2 {
    height: fit-content;
    margin-inline: 30.694vw;
    margin-block: 5vw;
}

.section-2 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* reset all margin (dont want it to fk with me) */
.section-2 .wrapper * {
    margin: 0vw;
}

.section-2 .wrapper .tagline {
    margin-bottom: 1.389vw;
    color: #8298AB;
    font-size: 0.903vw;
    font-weight: 500;
    line-height: 1.53
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-2 .wrapper .heading {
    margin-bottom: 1.736vw;
    color: #304659;
    text-align: center;
    font-size: 2.431vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14
}

.section-2 .wrapper .description {
    color: #3B5266;
    text-align: center;
    font-size: 1.181vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.47
}

/* section 3 */

.section-3 {
    margin-bottom: 3vw;
}

.section-3 .wrapper {
    margin-block: 6.944vw;
    margin-inline: 6.25vw;
}

.section-3 .wrapper .heading {
    margin-bottom: 4.722vw;
}

.section-3 .wrapper .heading {
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2
    letter-spacing: -0.8px;
}

.section-3 .wrapper .content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4.444vw;
}

.section-3 .content-grid .grid-individual * {
    margin: 0vw;
}

.section-3 .content-grid .grid-individual {
    width: 28.681vw;
    height: 11.667vw;
}

.section-3 .content-grid .grid-individual img {
    width: 4.167vw;
    height: 4.167vw;
    margin-bottom: 1.389vw;
}

.section-3 .content-grid .grid-individual .grid-title {
    margin-bottom: 0.556vw;
    font-size: 1.389vw;
    font-weight: 700;
    line-height: 1.4
    letter-spacing: -0.28px;
}

.section-3 .content-grid .grid-individual .grid-description {
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5
}

.section-4 .title-section {
    margin-left: 9.722vw;
    margin-right: 13.681vw;
    margin-bottom: 8.472vw;
    display: flex;
    justify-content: space-between;
}

.section-4 .title-section h2 {
    width: 31.944vw;
    color: #2E2B26;
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.section-4 .title-section p {
    width: 31.944vw;
    color: #2E2B26;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.44;
}

.section-4 .data-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.111vw;
    margin-inline: 5.833vw;
    margin-bottom: 14.167vw;
}

.section-4 .data-section div {
    border-top: solid;
    width: 21.25vw;
}

.section-4 .data-section h2 {
    margin-top: 1.25vw;
    margin-bottom: 1.111vw;
    color: #2E2B26;
    font-size: 2.778vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.section-4 .data-section p {
    color: #848484;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.5;
}

/* section 5 */

.section-5 .top-nav {
    display: flex;
    justify-content: space-between;
    height: 8.125vw;
    padding-inline: 5.833vw;
    align-items: center;
}

.section-5 .right {
    display: flex;
    align-items: center;
    column-gap: 2.292vw;
}

.section-5 .right select,
.section-5 .right a {
    color: #000;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.section-5 .right select {
    outline: none;
    border: 0vw;
    background-color: unset;
}

.section-5 .get-started-button,
.section-5 .login-button {
    padding-inline: 1.667vw;
    padding-block: 1.667vw;
    border-radius: 2.083vw;
}

.section-5 .login-button {
    border: 0.069vw solid #D2D2D2;
}

.section-5 .get-started-button {
    background-color: black;
    color: white !important;
}

.section-5 .wrapper {
    position: relative;
    height: 54.514vw;
    background-color: #A8A8A8;
}

.section-5 .wrapper img {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 23.507vw;
    height: 7.5vw;
}

.section-5 .content-wrapper {
    margin-top: 16.215vw;
    margin-left: 5.833vw;
    position: absolute;
}

.section-5 .content-wrapper h2 {
    width: 39.861vw;
    margin-bottom: 1.111vw;
    margin-top: 0vw;
    color: white;
    font-size: 3.889vw;
    font-weight: 700;
    line-height: 1.17;
}

.section-5 .content-wrapper p {
    width: 39.861vw;
    color: white;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.66;
}

.section-5 .buttons-wrapper {
    display: flex;
    gap: 1.597vw;
}

.section-5 .buttons-wrapper a {
    margin-top: 3.056vw;
    padding-inline: 2.5vw;
    padding-block: 1.667vw;
    border-radius: 2.538vw;
    border: 0.069vw solid white;
    color: white;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1;
}

.section-5 .buttons-wrapper a:first-child {
    background-color: white;
    color:#5D5A88;
}
